<ion-view title="Trip Planner">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding" has-bouncing="false">
	<div class="list">
		<label class="item item-input">
			<input type="text" placeholder="From" id="from" ng-click="goToSearch('from')">
		</label>
		<label class="item item-input">
			<input type="text" placeholder="To" id="to" ng-click="goToSearch('from')">
		</label>
	</div>
    <button class="item button button-block button-outline button-positive" ng-click="findRoutes()">
  		Find Routes
	</button>
  </ion-content>
</ion-view>
